<div>
    <div class="container">
        <div class="section-title">Media Kit</div>
        <p class="scholarships__description">
          The conference media kit contains resources and materials you can use in order to promote our partnership:
        </p>
    <ul>
      <li>Here you can find our  <a href="">facebook</a> and <a href="">twitter</a> social pages: you can tag us in your posts, or share/retweet. Official hashtag are <strong>#jsday</strong> and <strong>#jsday2020</strong>      </li>
      <li><a href="https://drive.google.com/drive/folders/1OBpUU6weNFsJf21i2wd-yWZuRLKqQC20?usp=sharing">jsday logo and other graphic assets</a></li>
      <li><a href="https://www.canva.com/design/DAEBCQ-6uKs/share/preview?token=n51K_EbJIkOUhfmNEL-N0w&amp;role=EDITOR&amp;utm_content=DAEBCQ-6uKs&amp;utm_campaign=designshare&amp;utm_medium=link&amp;utm_source=sharebutton">Canva Template</a> to share the promo code to your community</li>
      <li><a href="https://forms.gle/FCC7jfftUwsZjKtC7">Form to share</a> our scholarship</li>
    </ul>

    <h2 class="row__title">Aren’t you our partner yet?  </h2>
      <p class="scholarships__description">  
      Discover how and why you should be <a href="https://www.canva.com/design/DAEBLg3Gd3E/jLRDYSrD2JRIjWFR0Bsz_A/view?utm_content=DAEBLg3Gd3E&amp;utm_campaign=designshare&amp;utm_medium=link&amp;utm_source=sharebutton">community partner</a> or <a href="https://www.canva.com/design/DAECzu7MEgo/iH4WaCSjjYAlb3UrkVRN-A/view?utm_content=DAECzu7MEgo&amp;utm_campaign=designshare&amp;utm_medium=link&amp;utm_source=sharebutton">conference partner</a>
      </p>

    <h2 class="row__title">Contact us</h2>
        <p class="scholarships__description">
      Do you need more information? Write us a mail to <strong>community@grusp.org</strong>.
    </p>
  </div>
