---
title: Schedule
css: schedule
---

<div class="schedule">
  <div class="container">
    <div class="section-title">Thursday, Sept 10th</div>
    <table class="schedule__table">
      <tbody>

      {% include schedule/event.html time='09:45 - 10:00 CEST' title='INTRO by GrUSP' fill='true' %}

      {% include schedule/talk.html time='10:00 - 10:45 CEST' slot="1" fill='true' %}
      {% include schedule/talk.html time='10:45 - 11:30 CEST' slot="2" fill='true' %}

      {% include schedule/event.html time='11:30 - 11:40 CEST' title='COFFEE BREAK' fill='true' %}

      {% include schedule/talk.html time='11:40 - 12:35 CEST' slot="3" fill='true' %}
      {% include schedule/talk.html time='12:35 - 13:20 CEST' slot="4" fill='true' %}

      {% include schedule/event.html time='13:20 - 14:30 CEST' title='LUNCH TIME' fill='true' %}

      {% include schedule/talk.html time='14:30 - 15:15 CEST' slot="5" fill='true' %}
      {% include schedule/talk.html time='15:15 - 16:00 CEST' slot="6" fill='true' %}

      {% include schedule/event.html time='16:00 - 16:15 CEST' title='COFFEE BREAK' fill='true' %}

      {% include schedule/talk.html time='16:15 - 17:00 CEST' slot="7" fill='true' %}
      {% include schedule/talk.html time='17:00 - 17:45 CEST' slot="8" fill='true' %}
      {% include schedule/talk.html time='17:45 - 18:30 CEST' slot="9" fill='true' %}

      {% include schedule/event.html time='18:30 - 18:45 CEST' title='GOODBYE FROM GRUSP' fill='true' %}

      </tbody>
    </table>
  </div>
</div>

{% include sponsors.html %}
