---
title: Yes, I'll join the social night!
css: index
---


<div class="conference">
    <div class="container">
        <div class="social-night-yes-no">
            <h2 class="conference__title">
                YES!<br>
                <br>
                <span class="conference__subtitle_nocaps">
                    We're really happy that you'll join the social night... see you tomorrow!
                </span>
            </h2>
        </div>
    </div>
</div>

{% include sponsors.html %}
{% include communities.html %}
