<style type="text/css">
    a[href^="tel:"]:before {
      content: "\260e";
      margin-right: 0.5em;
    }
</style>

<div class="venue__map">
    <div class="container">
        <div class="section-title">Venue</div>
        <h2 class="venue__hotel">Hotel San Marco</h2>
        <p class="venue__content">
            Via Longhena, 42<br> 37138 Verona — Italy
        </p>
        <p class="venue__content">
            <a href="tel:045569011">045569011</a>
            <br>
            <a href="tel:045572299">045572299</a>
        </p>
        <a class="venue__url" href="http://www.sanmarco.vr.it/" target="_blank">www.sanmarco.vr.it</a>
        <a target="_blank" href="https://www.google.it/maps/place/Via+Baldassarre+Longhena,+42,+37138+Verona+VR/@45.4399785,10.9697421,614m/data=!3m2!1e3!4b1!4m5!3m4!1s0x4781e1e3a1212445:0x74730a5e0d30436d!8m2!3d45.4399785!4d10.9719308?hl=it">
            <img class="venue__static-map" src="images/venue.png" alt="Venue" />
        </a>
    </div>
</div>

<div class="venue__address">
    <div class="container">
        <div class="section-title">Hotel agreements</div>
        <p class="venue__discount">
            The conference hotel offers discounted rates on single and double bedrooms:
        </p>
        <br />
        <h2 class="venue__hotel">Hotel San Marco</h2>
        <p class="venue__content">
            Via Longhena, 42<br> 37138 Verona — Italy
        </p>
        <p class="venue__content">
            <a href="tel:045569011">045569011</a>
            <br>
            <a href="tel:045572299">045572299</a>
        </p>
        <a class="venue__url" href="http://www.sanmarco.vr.it/">www.sanmarco.vr.it</a>
    </div>
</div>

<div class="venue__directions">
    <div class="container">
        <div class="section-title">How to get there</div>
        <div class="venue__direction-list">
            <div class="venue__direction">
                <div class="venue__from">Route from Verona Nord Exit</div>
                Take the Tangenziale following Verona Centro direction.<br> At the end of the Tangenziale turn left.<br> Continue towards Porta Palio.<br> At the roundabout go straight along Viale Colonnello Galliano.<br> At the first traffic light turn left into Via San Marco.<br> Drive straight along Via San Marco to the Hotel.
            </div>
            <div class="venue__direction">
                <div class="venue__from">Route from Verona Sud Exit</div>
                Follow the direction to Fiera - Verona Centro.<br> Drive along Viale delle Nazioni.<br> Continue along Viale del Lavoro and Viale del Piave.<br> Once you arrive in Piazzale Porta Nuova, turn left.<br> Drive along Viale Luciano Dal Cero.<br> Continue towards Porta Palio.<br> At the roundabout go straight along Viale Colonnello Galliano.<br> At the first traffic light turn left into Via San Marco.<br> Drive straight along Via San Marco to the Hotel.
            </div>
            <div class="venue__direction">
                <div class="venue__from">Route from the Airport</div>
                Take the Tangenziale following Verona direction.<br> Take the junction to Verona Centro.<br> At the end of the Tangenziale turn left.<br> Continue towards Porta Palio.<br> At the roundabout go straight along Viale Colonnello Galliano.<br> At the first traffic light turn left into Via San Marco.<br> Drive straight along Via San Marco to the Hotel.
            </div>
        </div>
    </div>
</div>
