<div class="communities">
    <div class="container">
        <div class="section-title">We ❤ communities</div>
        <div class="communities__list">
            <div class="community">
                <a class="community__card" href="https://twitter.com/BolognaJS" title="BolognaJS">
                    <img class="community__logo" src="images/communities/BolognaJS.png" alt="BolognaJS" />
                    <div class="community__name">BolognaJS</div>
                </a>
            </div>
            <div class="community">
                <a class="community__card" href="https://twitter.com/catania_js" title="CataniaJS">
                    <img class="community__logo" src="images/communities/CataniaJS.png" alt="CataniaJS" />
                    <div class="community__name">CataniaJS</div>
                </a>
            </div>
            <div class="community">
                <a class="community__card" href="https://twitter.com/Ferrara_JS" title="FerraraJS">
                    <img class="community__logo" src="images/communities/FerraraJS.png" alt="FerraraJS" />
                    <div class="community__name">FerraraJS</div>
                </a>
            </div>
            <div class="community">
                <a class="community__card" href="https://twitter.com/__fevr" title="FEVR">
                    <img class="community__logo" src="images/communities/FEVR.png" alt="FEVR" />
                    <div class="community__name">FEVR</div>
                </a>
            </div>
            <div class="community">
                <a class="community__card" href="https://jsheroes.io/" title="JSHeroes">
                    <img class="community__logo" src="images/communities/jsHeroes.png" alt="JSHeroes" />
                    <div class="community__name">JSHeroes</div>
                </a>
            </div>
            <div class="community">
                <a class="community__card" href="https://twitter.com/Milano_JS" title="MilanoJS">
                    <img class="community__logo" src="images/communities/MilanoJS.png" alt="MilanoJS" />
                    <div class="community__name">MilanoJS</div>
                </a>
            </div>
            <div class="community">
                <a class="community__card" href="https://twitter.com/roma_js" title="RomaJS">
                    <img class="community__logo" src="images/communities/RomaJS.png" alt="RomaJS" />
                    <div class="community__name">RomaJS</div>
                </a>
            </div>
            <div class="community">
                <a class="community__card" href="https://twitter.com/torinojs" title="TorinoJS">
                    <img class="community__logo" src="images/communities/TorinoJS.png" alt="TorinoJS" />
                    <div class="community__name">TorinoJS</div>
                </a>
            </div>
            <div class="community">
                <a class="community__card" href="https://twitter.com/trevisojs" title="TrevisoJS">
                    <img class="community__logo" src="images/communities/TrevisoJS.png" alt="TrevisoJS" />
                    <div class="community__name">TrevisoJS</div>
                </a>
            </div>
            <div class="community">
                <a class="community__card" href="https://gamedevjs.pl/" title="gamedevjs">
                    <img class="community__logo" src="images/communities/gamedevjs.png" alt="gamedevjs" />
                    <div class="community__name">Gamedev.js</div>
                </a>
            </div>
            <div class="community">
                <a class="community__card" href="https://reactnorway.com/" title="React Norway">
                    <img class="community__logo" src="images/communities/reactnorway.png" alt="React Norway" />
                    <div class="community__name">React Norway</div>
                </a>
            </div>
            <div class="community">
                <a class="community__card" href="https://reactnewyork.com/" title="React New York">
                    <img class="community__logo" src="images/communities/reactnewyork.png" alt="React New York" />
                    <div class="community__name">React New York</div>
                </a>
            </div>            
        </div>
    </div>
</div>
