
<div class="media-partners">
  <div class="container">
    <div class="section-title">Media partners</div>
    <div class="media-partners__list" data-tags="main js frontend">
    </div>
  </div>
</div>

<div class="mailing-list">
  <div class="container">
    <div class="mailing-list__content">
      <div class="mailing-list__description">
        Don't miss any update about the conference
        <div class="mailing-list__subscribe">Subscribe to our newsletter</div>
      </div>
      <form class="mailing-list__form" action="//grusp.us5.list-manage2.com/subscribe/post?u=29d918424cd5375f4c0c54c00&amp;id=204120a4eb" method="post">
        <input class="mailing-list__input" type="email" name="EMAIL" placeholder="Email address" required>
        <button class="mailing-list__button">Subscribe</button>
      </form>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <div class="footer__content">
      <div class="footer__extra">
        <div class="footer__copy">
          jsDay and phpDay are &copy; by
          <a class="footer__link" href="http://www.grusp.org" title="GrUSP">GrUSP</a> and its amazing staff
        </div>
        <div class="footer__contact">
          Contact us: info (at) grusp (dot) org
        </div>
        <div>
          <a class="footer__social" href="https://twitter.com/{{ site.data.conference.twitter }}" title="{{ site.data.conference.name }} on Twitter">Follow us</a>
          <a class="footer__social" href="https://www.facebook.com/{{ site.data.conference.facebook }}" title="{{ site.data.conference.name }} on Facebook">Like us</a>
          <a class="footer__social" href="https://www.iubenda.com/privacy-policy/{{ site.data.conference.iubenda.cookiePolicyId }}">Privacy Policy</a>
          <a  class="footer__social" href="/media.html">Media Kit</a>
        </div>
        
      </div>
      <div class="footer__grusp">
        <a href="http://www.grusp.org" title="GrUSP">
          <img class="footer__logo" src="images/logos/grusp.svg" alt="Grusp" />
        </a>
      </div>
    </div>
  </div>
</footer>
