
<div class="sponsor-intro">
    <div class="container">
        <h1 class="section-title">Sponsor</h1>
        <div class="sponsor-intro__subtitle">
            Is your activity connected with JavaScript?<br> Do you want a prominent role in the making of jsDay?
        </div>
        <p class="sponsor-intro__description">
            Great idea! You will contribute to the success of an event that is unique in Italy and <span class="sponsor-intro__strong">you will receive a remarkable visibility.</span> A short description of the venue is necessary before detailing the five levels of sponsorship: the conference will be held in different rooms, all facing an atrium where various stands will be available to showcase sponsors. GrUSP will be present with a desk for information and registrations.<br> With "stand" we mean a space at your disposal with 1 or 2 tables, a couple of chairs, network connectivity and power supply. A folder with the program of the conference and a flyer with sponsors' logos will be given to every attendee. It will be possible to expose in all rooms an advertising billboard (A3 format).
        </p>
    </div>
</div>

<div class="jsday-facts">
    <div class="container">
        <h1 class="section-title">jsDay Facts</h1>
        <div class="jsday-fact__list">
            <div class="jsday-fact">
                <ul class="jsday-information">
                    <li>&raquo; Since 2011</li>
                    <li>&raquo; Born as a phpDay track</li>
                    <li>&raquo; People from all over the world</li>
                </ul>
            </div>
            <div class="jsday-fact">
                <span class="jsday-fact__subtitle">Speakers 2019</span>
                <div class="jsday-fact__number">26</div>
            </div>
            <div class="jsday-fact">
                <span class="jsday-fact__subtitle">Attendees 2019</span>
                <div class="jsday-fact__number">352</div>
            </div>
        </div>
    </div>
</div>

<div class="packages">
    <div class="container">
        <h1 class="section-title">Sponsorship options</h1>
        <p class="packages__description">
            You can sponsor jsDay in several ways: you can fund one of the many social moments, or you can grab one of our sponsor packages.
        </p>
        <div class="packages__subtitle">Social events</div>
        <p class="packages__description">
            During the conference there are various moments for social aggregation between participants: coffee breaks, lunch, social night and pre-dinner aperitifs. Please get in touch with us to arrange the options that best suits your needs, or to share a brilliant sponsoring idea.
        </p>
        <div class="packages__subtitle">Full packages</div>
        <p class="packages__description">
            You can also choose between one of the following sponsorship packages. You can pay via paypal clicking on the button, or you can send an international money transfer using these codes:
        </p>
        <div class="packages__payment">
            IBAN: <span class="packages__number">IT69G0200811773000104073614</span><br> SWIFT/BIC: <span class="packages__number">UNCRITM1M06</span>
        </div>
        <div class="packages__list">
            <div class="package">
                <div class="package__card">
                    <div class="package__name">Main</div>
                    <div class="package__info">
                        <div class="package__price">
                            €10,000
                            <span class="package__vat">(+ VAT 22%)</span>
                        </div>
                        <div class="package__availability">1 slot available</div>
                    </div>
                    <ul class="package__features">
                        <li class="package__feature">
                            <span class="package__check">✓</span> 1 dedicated session (30 mins max)
                        </li>
                        <li class="package__feature">
                            <span class="package__check">✓</span> One direct email marketing campaign
                        </li>
                        <li class="package__feature">
                            <span class="package__check">✓</span> Access to opt-in attendees list
                        </li>
                        <li class="package__feature">
                            <span class="package__check">✓</span> Stand (table 2m x 1m)
                        </li>
                        <li class="package__feature">
                            <span class="package__check">✓</span> You own rollups in both rooms
                        </li>
                        <li class="package__feature">
                            <span class="package__check">✓</span> Your logo on conference rollups
                        </li>
                        <li class="package__feature">
                            <span class="package__check">✓</span> Your own Flyer and/or gadget in folder (provided by you)
                        </li>
                        <li class="package__feature">
                            <span class="package__check">✓</span> Your logo in pre-event communications
                        </li>
                        <li class="package__feature">
                            <span class="package__check">✓</span> Your logo on conference website
                        </li>
                        <li class="package__feature">
                            <span class="package__check">✓</span> 5 free tickets
                        </li>
                        <li class="package__feature">
                            <span class="package__check">✓</span> 5 tickets with 50% discount
                        </li>
                    </ul>
                </div>
            </div>
            <div class="package package--diamond">
                <div class="package__card">
                    <div class="package__name">Diamond</div>
                    <div class="package__info">
                        <div class="package__price">
                            €5,000
                            <span class="package__vat">(+ VAT 22%)</span>
                        </div>
                        <div class="package__availability">2 slots available</div>
                    </div>
                    <ul class="package__features">
                        <li class="package__feature">
                            <span class="package__check">✓</span> Access to opt-in attendees list
                        </li>
                        <li class="package__feature">
                            <span class="package__check">✓</span> Stand (table 2m x 1m)
                        </li>
                        <li class="package__feature">
                            <span class="package__check">✓</span> You own rollup in one room
                        </li>
                        <li class="package__feature">
                            <span class="package__check">✓</span> Your logo on conference rollups
                        </li>
                        <li class="package__feature">
                            <span class="package__check">✓</span> Your own Flyer and/or gadget in folder (provided by you)
                        </li>
                        <li class="package__feature">
                            <span class="package__check">✓</span> Your logo in pre-event communications
                        </li>
                        <li class="package__feature">
                            <span class="package__check">✓</span> Your logo on conference website
                        </li>
                        <li class="package__feature">
                            <span class="package__check">✓</span> 4 free tickets
                        </li>
                        <li class="package__feature">
                            <span class="package__check">✓</span> 5 tickets with 20% discount
                        </li>
                    </ul>
                </div>
            </div>
            <div class="package package--platinum">
                <div class="package__card">
                    <div class="package__name">Platinum / Party</div>
                    <div class="package__info">
                        <div class="package__price">
                            €3,000
                            <span class="package__vat">(+ VAT 22%)</span>
                        </div>
                        <div class="package__availability">4 / 1 slots available</div>
                    </div>
                    <ul class="package__features">
                        <li class="package__feature">
                            <span class="package__check">✓</span> Stand (table 1m x 1m)
                        </li>
                        <li class="package__feature">
                            <span class="package__check">✓</span> You own rollup in one room
                        </li>
                        <li class="package__feature">
                            <span class="package__check">✓</span> Your logo on conference rollups
                        </li>
                        <li class="package__feature">
                            <span class="package__check">✓</span> Your own Flyer and/or gadget in folder (provided by you)
                        </li>
                        <li class="package__feature">
                            <span class="package__check">✓</span> Your logo in pre-event communications
                        </li>
                        <li class="package__feature">
                            <span class="package__check">✓</span> Your logo on conference website
                        </li>
                        <li class="package__feature">
                            <span class="package__check">✓</span> 3 free tickets
                        </li>
                        <li class="package__feature">
                            <span class="package__check">✓</span> 5 tickets with 15% discount
                        </li>
                    </ul>
                </div>
            </div>
            <div class="package package--gold">
                <div class="package__card">
                    <div class="package__name">Gold</div>
                    <div class="package__info">
                        <div class="package__price">
                            €1,500
                            <span class="package__vat">(+ VAT 22%)</span>
                        </div>
                        <div class="package__availability">8 slots available</div>
                    </div>
                    <ul class="package__features">
                        <li class="package__feature">
                            <span class="package__check">✓</span> You own rollup in one room
                        </li>
                        <li class="package__feature">
                            <span class="package__check">✓</span> Your logo on conference rollups
                        </li>
                        <li class="package__feature">
                            <span class="package__check">✓</span> Your own Flyer and/or gadget in folder (provided by you)
                        </li>
                        <li class="package__feature">
                            <span class="package__check">✓</span> Your logo in pre-event communications
                        </li>
                        <li class="package__feature">
                            <span class="package__check">✓</span> Your logo on conference website
                        </li>
                        <li class="package__feature">
                            <span class="package__check">✓</span> 2 free tickets
                        </li>
                        <li class="package__feature">
                            <span class="package__check">✓</span> 3 tickets with 15% discount
                        </li>
                    </ul>
                </div>
            </div>
            <div class="package package--silver">
                <div class="package__card">
                    <div class="package__name">Silver</div>
                    <div class="package__info">
                        <div class="package__price">
                            €750
                            <span class="package__vat">(+ VAT 22%)</span>
                        </div>
                        <div class="package__availability">32 slots available</div>
                    </div>
                    <ul class="package__features">
                        <li class="package__feature">
                            <span class="package__check">✓</span> Your logo on conference rollups
                        </li>
                        <li class="package__feature">
                            <span class="package__check">✓</span> Your own Flyer and/or gadget in folder (provided by you)
                        </li>
                        <li class="package__feature">
                            <span class="package__check">✓</span> Your logo in pre-event communications
                        </li>
                        <li class="package__feature">
                            <span class="package__check">✓</span> Your logo on conference website
                        </li>
                        <li class="package__feature">
                            <span class="package__check">✓</span> 1 free ticket
                        </li>
                        <li class="package__feature">
                            <span class="package__check">✓</span> 3 tickets with 10% discount
                        </li>
                    </ul>
                </div>
            </div>
            <div class="package package--bronze">
                <div class="package__card">
                    <div class="package__name">Bronze</div>
                    <div class="package__info">
                        <div class="package__price">
                            €500
                            <span class="package__vat">(+ VAT 22%)</span>
                        </div>
                        <div class="package__availability">64 slots available</div>
                    </div>
                    <ul class="package__features">
                        <li class="package__feature">
                            <span class="package__check">✓</span> Your logo in pre-event communications
                        </li>
                        <li class="package__feature">
                            <span class="package__check">✓</span> Your logo on conference website
                        </li>
                        <li class="package__feature">
                            <span class="package__check">✓</span> 2 tickets with 10% discount
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
